<div class=''>
    <app-page-name></app-page-name>
</div>
<section class="contact-section section_padding">
    <div class="container">
        
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
            novalidate="novalidate">
            <div class="row">
              <div class="col-12">
                    <mat-form-field class="full-width-field">
                        <textarea matInput cols="30" rows="9" placeholder="Enter Your Message" 
                            type="text"></textarea>
                    </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width-field">
                    <input matInput placeholder="Your Name" 
                        type="text">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width-field">
                    <input matInput placeholder="Your Email Adress" 
                        type="email">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="full-width-field">
                    <input matInput placeholder="Enter Your Subject" 
                        type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4">Send Message</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Tunis,Tunisia.</h3>
              <p>olympic city</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>00 (216) 23 761 199</h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>tunisian_campers@tuni-camp.org</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>  