<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>The tent life</h5>
                        <h1>Make life worth living </h1>
                        <p>A home away from home!<br>
                            The best attribute of a Camp is the chance to get closer to nature and get rid of the worries of the concrete jungle of a city for a moment in life.
                        </p>
                        <div class="banner_btn">
                            <div class="banner_btn_iner">
                                <a href="#" class="btn_2">Reservation <img src="assets/img/icon/left_1.svg" alt=""></a>
                            </div>
                            <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="popup-youtube video_popup">
                                <span><img src="assets/img/icon/play.svg" alt=""></span> Watch our story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>