<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Camping For Beginners</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_part about_bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="p-5" style="transform: scale(1.2);">
                    <img src="assets/img/wheretocamp.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4 pr-5 right-aligned">
                <div class="about_text">
                    <h2>Our Centers</h2>
                    <h5>Feel Secure</h5>
                    <h4>No More asking about toilets !! xD</h4>
                    <p>Feel Secure in our centers ,explore the forest in a confortable way  </p>
                    <a (click)='goToCenter()' class="btn_3">Go To Centers <img src="assets/img/icon/left_2.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/howtocamp.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>Let's</h3>
                                <p>Learn</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Finding and Setting Up a Campsite </h2>
                            </a>
                            <p>Many people like to head to the great outdoors for vacations or quick getaways. But spending a few days (and nights) in a tent or a camper can be daunting for first-timers. Don't worry. Camping gets easier every time, and before you know it you'll be setting up your tent in a matter of seconds and preparing gourmet meals on a camp stove.

                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>