<!-- banner part start-->
<app-wlc-home></app-wlc-home>
<!-- banner part start-->

<!--::exclusive_item_part start::-->
<app-popular-center></app-popular-center>
<!--::exclusive_item_part end::-->


<!-- intro_video_bg start-->
<app-video-home></app-video-home>
<!-- intro_video_bg part start-->

<!--::regervation_part start::-->
<app-reservation></app-reservation>
<!--::regervation_part end::-->



<!--::exclusive_item_part start::-->
<section class="blog_item_section blog_section section_padding">
    <app-testimonials></app-testimonials>
</section>
<!--::exclusive_item_part end::-->

