<app-page-name></app-page-name>

<!-- <section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row" >
            <div *ngFor='let c of centers' class="col-4">
                <app-popular-one-center [x]='c'></app-popular-one-center>
            </div>
        </div>
    </div>
</section> -->
<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <p>Looking For The nearest Center ?</p>
                    <h2>Here is it </h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">
                    <a id="northern-region-tab" data-toggle="tab" href="#northernRegion" role="tab"
                        aria-controls="northernRegion" aria-selected="true">Northern Region <img
                            src="assets/img/icon/play.svg" alt="play"></a>
                    <a id="cap-bon-tab" data-toggle="tab" href="#capBon" role="tab" aria-controls="capBon"
                        aria-selected="false">Cap Bon <img src="assets/img/icon/play.svg" alt="play"></a>
                    <a id="center-region-tab" data-toggle="tab" href="#centerRegion" role="tab"
                        aria-controls="centerRegion" aria-selected="false">Center Region <img
                            src="assets/img/icon/play.svg" alt="play"> </a>
                    <a id="southern-region-tab" data-toggle="tab" href="#southernRegion" role="tab"
                        aria-controls="southernRegion" aria-selected="false">Southern Region <img
                            src="assets/img/icon/play.svg" alt="play"></a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active single-member" id="northernRegion" role="tabpanel"
                        aria-labelledby="northern-region-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 " *ngFor='let c of centers'>
                                <div *ngIf='c.region=="nouthern"'>
                                    <app-center [c]='c'></app-center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade single-member" id="centerRegion" role="tabpanel"
                        aria-labelledby="center-region-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 " *ngFor='let c of centers'>
                                <div *ngIf='c.region=="center"'>
                                    <app-center [c]='c'></app-center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade single-member" id="capBon" role="tabpanel" aria-labelledby="cap-bon-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 " *ngFor='let c of centers'>
                                <div *ngIf='c.region=="capBon"'>
                                    <app-center [c]='c'></app-center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade single-member" id="southernRegion" role="tabpanel"
                        aria-labelledby="southern-region-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6 " *ngFor='let c of centers'>
                                <div *ngIf='c.region=="southern"'>
                                    <app-center [c]='c'></app-center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>